.col-form-label{
    font-weight: bold;
}

.container-fluid{
    background: #C1BEBF;
    height: 100vh;
}

#sidebar{
    width: 550px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background: #CFCFCF;
    height: 98vh;
}

#topbarList{
    margin-bottom: 30px;
}

#topbarTask{
    margin-bottom: 29px;
}

#main-content{
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background: #CFCFCF;
    height: 98vh;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.list-group-item div:first-child {
    flex: 1;
    margin-right: 10px;
}

small{
    font-weight: bold;
}

.list-group-item div:last-child {
    display: flex;
    flex-direction: column;
}

.task {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}

.task p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    margin-bottom: 5px;
    width: 55px;
}

#lists {
    max-height: 800px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tasks {
    max-height: 800px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    cursor: pointer;
}

.list-item-container.selected {
    background-color: #f0f0f0;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 0;
}

