.col-form-label{
    font-weight: bold;
}

.container-fluid{
    background: #C1BEBF;
    height: 100vh;
}

#sidebar{
    width: 550px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background: #CFCFCF;
    height: 98vh;
}

#main-content{
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background: #CFCFCF;
    height: 98vh;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}


.list-group-item div:first-child {
    flex: 1;
    margin-right: 10px;
}


.list-group-item div:last-child {
    display: flex;
    flex-direction: column;
}


.btn-sm {
    padding: 0.25rem 0.5rem;
    margin-bottom: 5px;
    width: 55px;
}

#lists {
    max-height: 850px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}